<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.spring_backend_init.mapper.RoomEnvironmentMapper">


    <select id="getLeastRoomHumity" resultType="com.xq.spring_backend_init.model.entity.RoomHunidity">
        SELECT * FROM room_hunidity
        WHERE time = (SELECT MAX(time) FROM room_hunidity) AND room_number = #{room}
    </select>


    <select id="getLeastTemperature" resultType="com.xq.spring_backend_init.model.entity.RoomTemperature">
        SELECT * FROM room_temperature
        WHERE time = (SELECT MAX(time) FROM room_temperature ) AND room_number = #{room}
    </select>


</mapper>